<div class="row text-center">
    <div class="col-md-3 category-hover" *ngFor='let category of timelineCategories; let i = index'  ng-click="loadEvents(head)">
        <img class="bd-placeholder-img rounded-circle category-img pt-3"
        [class.rorate-r]="i % 2 == 0"
        [class.rorate-l]="i % 2 != 0"
        [src]='category.img'
        [title]='category.title'>
        <h2>{{category.title}}</h2>
        <p>{{category.description}}</p>
    </div>
</div>
<hr class="featurette-divider">

<app-timeline-event></app-timeline-event>