.img-header{
    width:140px; 
    height:140px;
    object-fit: cover;
    object-position: center center;
}
.rorate-r:hover{
    transform: rotate(15deg);
}
.rorate-l:hover{
    transform: rotate(-15deg);
}

.head-hover:hover{
    background-color: azure;
    cursor: pointer;
}