<div class="row text-center">
    <div class="col-md-3 category-hover" [ngClass]="{'category-active': selectedCategory == category}" *ngFor='let category of categories; let i = index'  (click)="onCategoryClicked(category)">
        <img *ngIf="category"
        class="bd-placeholder-img rounded-circle category-img"
        [class.rorate-r]="i % 2 == 0"
        [class.rorate-l]="i % 2 != 0"
        [src]="category.AvatarUrl || defaultUrl"
        [title]='category.Title'>
        <h2>{{category.Title}}</h2>
        <p>{{category.Description}}</p>
    </div>
</div>
<hr class="featurette-divider mt-5 mb-5">

<app-timeline-event [id]="categoryId">events loading...</app-timeline-event>