.category-img{
    width:140px; 
    height:140px;
    object-fit: cover;
    object-position: center center;
}
.rorate-r:hover{
    transform: rotate(15deg);
}
.rorate-l:hover{
    transform: rotate(-15deg);
}

.category-hover:hover{
    background-color:#f5f5f5;
    border-radius: 45px;
    cursor: pointer;
}