.img-event{
    width: 100%;
    object-fit: cover;
    object-position: center center;
    max-width: 400px;
    max-height: 300px;
}

a{
    font-size: 28px;
    text-decoration: none;
    color: inherit;
    padding-left: 30px;
}

i{
    font-size: 48px;
}



footer a{
    font-size: 18px;
    text-decoration: none;
    color: inherit;
    padding-left: 15px;
}

footer i{
    font-size: 32px;
}
