
<div class="d-flex flex-column mt-5 mb-5" *ngIf="events.length < 1">
    <div class="d-flex mb-3 mt-3 justify-content-center">
            <i class="far fa-envelope"></i> <p><a href="#">jakub.rzm@gmail.com</a></p>
    </div>
    <div class="d-flex mb-3 justify-content-center">
            <i class="fab fa-github"></i> <p><a href="https://github.com/JakubRZE" target="_blank">github.com/JakubRZE</a></p>
    </div>
    <div class="d-flex mb-3 justify-content-center">
            <i class="fab fa-linkedin"></i><p><a href="https://www.linkedin.com/in/jakub-m-rzepka" target="_blank">linkedin.com/in/jakub-m-rzepka</a></p> 
    </div>
</div>

<div *ngIf="events && events.length">
    <div class="row border-bottom mt-5 pb-5" *ngFor='let event of events; let i = index'>
        <div class="col-md-7" [class.order-md-2]="i % 2 != 0">
            <h3>{{event.Title}}</h3>
            <div class="d-flex text-muted">
                <h6 class="mr-auto"> {{event.Place}}</h6>
                <h6> {{event.Date}} </h6>
            </div>
            <p class="mt-3">{{event.Description}}</p>
        </div>
        <div class="col-md-5 text-center" [class.order-md-1]="i % 2 != 0">
            <img *ngIf="event" class="img-fluid img-event" [src]="event.AvatarUrl || defaultUrl" [title]='event.Title'>
        </div>
    </div>
</div>

<footer class="container footer text-center border-top" *ngIf="events && events.length">
<div class="row pt-3">
    <div class="col-12 col-md-4">
            <i class="far fa-envelope"></i> <p><a href="#">jakub.rzm@gmail.com</a></p>
    </div>
    <div class="col-12 col-md-4">
            <i class="fab fa-github"></i> <p><a href="https://github.com/JakubRZE" target="_blank">github.com/JakubRZE</a></p>
    </div>
    <div class="col-12 col-md-4">
            <i class="fab fa-linkedin"></i><p><a href="https://www.linkedin.com/in/jakub-m-rzepka" target="_blank">linkedin.com/in/jakub-m-rzepka</a></p> 
    </div>
</div>
</footer>