<main role="main">
    <div class="d-flex bg-dark text-light">

        <div class="container pt-4 pb-4">
            <div class="row align-items-center">
                <div class="col-12 col-sm-4 text-center p-2">
                    <img *ngIf="header" [src]="header.AvatarUrl || defaultUrl"
                        class="rounded-circle img-fluid profile" alt="Cinque Terre">
                </div>
                <div class="col-12 col-sm-8 profile-title" *ngIf='header'>
                    <h2>{{header.Name}}</h2>
                    <p>{{header.Description}}</p>
                </div>
            </div>
        </div>

    </div>

    <div class="container mt-5">
        <app-timeline>category headers loading...</app-timeline>
    </div>
</main>

<!-- <footer class="container footer text-center border-top">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>2019.09</p>
</footer> -->