<main role="main">
    <div class="d-flex bg-dark text-light">

        <div class="container pt-4 pb-4">
            <div class="row align-items-center">
                <div class="col-12 col-sm-4 text-center p-2">
                    <img src="https://media.licdn.com/dms/image/C4D03AQGJMbMqJ_LoKg/profile-displayphoto-shrink_200_200/0?e=1575504000&v=beta&t=3F1STfGl3N4nPwCosOCjtLBjmeXLIKQmTUzp81XWH_o"
                        class="rounded-circle img-fluid profile" alt="Cinque Terre">
                </div>
                <div class="col-12 col-sm-8 profile-title">
                    <h2>Jakub Rzepka</h2>
                    <p>Graduated from Rzeszow University of Technology with a Master of Science degree.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="container mt-5">
        <app-timeline></app-timeline>
    </div>
</main>

<!-- <footer class="container footer text-center border-top">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>2019.09</p>
</footer> -->