<main role="main">

    <div class="d-flex bg-dark text-light text-left align-items-center mb-4 pl-5 pr-5">
        <div class="container d-flex align-items-center p-5">
            <div class="photo-holder">
                <img src="https://media.licdn.com/dms/image/C4D03AQGJMbMqJ_LoKg/profile-displayphoto-shrink_200_200/0?e=1575504000&v=beta&t=3F1STfGl3N4nPwCosOCjtLBjmeXLIKQmTUzp81XWH_o"
                    class="rounded-circle img-fluid profile" alt="Cinque Terre">
            </div>
            <div class="p-2">
                <h2>Jakub Rzepka</h2>
                <p>Graduated from Rzeszow University of Technology with a Master of Science degree.</p>
                <!-- <p><a class="btn btn-warning" href="#" role="button">Contact</a></p> -->
            </div>
        </div>
    </div>

    <div class="container">
        <app-timeline></app-timeline>
    </div>
</main>

<!-- <footer class="container footer text-center border-top">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>2019.09</p>
</footer> -->